<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <style>
      body{
        background-color: #f5f5f5;
        text-align: center;
      }

      .table{
        width: 60%;
        margin: 0 auto;
      }

      .my-2 a{
        width: 175px;
      }

      .buttonBasket{
        display: flex;
        justify-content: space-around;
      }
    </style>
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">ASK</p>
  <nav class="my-2 my-md-0 me-md-3">
      <a class="btn btn-outline-primary" href="/price_list_1/">Каталог</a>
      <a class="btn btn-outline-primary" href="/delivery">Доставка и оплата</a>
      <a class="btn btn-outline-primary" href="#">Контакты</a>
      <a class="btn btn-outline-primary" href="/basket/">Корзина</a>
      <a class="btn btn-outline-primary" href="/registration/">Регистрация</a>
      <a class="btn btn-outline-primary" href="/authorization/">Авторизация</a>
  </nav>
</header>
<br><br>
<h2 id="headText">{{ message }}</h2>
<br><br>
{% if user_basket|length > 0 %}
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Товар</th>
        <th scope="col">Цена</th>
        <th scope="col">Сумма</th>
        {% if user_basket|length > 2 %}
        <th scope="col">Скидка</th>
        {% endif %}
        <th scope="col">Количество</th>
        <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for item in user_basket %}
    <tr>
        <td>{{ item.numero }}</td>
        <td>{{ item.nom }}</td>
        <td>{{ item.prix }}</td>
        <td>{{ item.product_sum }}</td>
        {% if user_basket|length > 2 %}
        {% if item.numero > 2%}
        <td>5%</td>
        {% elif item.numero <= 2%}
        <td> </td>
        {% endif %}
        {% endif %}
        <td class="buttonBasket">
            <div style="width: 50px;">
                <a href="/plus_basket?product_id={{ item.product_id }}">
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                    +</button>
                </a>
            </div>
            <div>
                {{ item.q_1 }}
            </div>
            <div style="width: 50px;">
                <a href="/minus_basket?product_id={{ item.product_id }}">
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                    -</button>
                </a>
            </div>
        </td>
        <td>
            <div style="width: 125px; margin: 0 auto;">
                <a href="/delete_basket?product_id={{ item.product_id }}">
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                    Удалить</button>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<br>
{% if user_discount == 0 %}
<h4 id="footText">Итого: {{ total_prix }} грн.</h4>
{% else %}
<h4 id="footText2">Итого с учетом персональной скидки {{ user_discount }}%: {{ total_prix }} грн.</h4>
{% endif %}
<br>
<div style="width: 250px; margin: 0 auto;">
    <a href="/finir_acheter_1">
        <button type="button" class="w-100 btn btn-lg btn-primary">
        Оформить заказ</button>
    </a>
</div>
{% endif %}
</body>
</html>
